@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0px solid black;
    text-decoration: none;
    box-sizing: border-box;
    background-color: transparent;
}

html {
    font-family: 'Manrope', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-Blue);
}

.container {
    position: relative;
    height: 22em;
    width: 38em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 1em;
}

.container h1 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--Neon-Green);
}

.container p {
    font-size: 2em;
    text-align: center;
    color: var(--Light-Cyan);
}

.container #dice-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.8em;
    border-radius: 50%;
    background-color: var(--Neon-Green);
}

.container #dice-btn img{
    display: block;
}

.attribution {
    font-size: 1.5em;
    text-align: center;
    color: var(--Light-Cyan);
    margin-top: 5em;
}

@media only screen and (min-width: 1024px) {
    .container #dice-btn:hover {
        box-shadow: 0px 0px 20px 20px hsla(150, 100%, 66%, 0.226);
    }   
}

@media only screen and (max-width: 768px) {

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--Dark-Blue);
        margin: 4em 1em;
    }
    
    .container {
        position: relative;
        height: 20em;
        max-width: 100%;
        width: 30em;
        min-width: 300px;
        padding: 2.5em 1.5em;
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
        background-color: var(--Dark-Grayish-Blue);
        border-radius: 1em;
    }
    
    .container h1 {
        font-size: 0.7em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: var(--Neon-Green);
    }
    
    .container p {
        font-size: 1.5em;
        text-align: center;
        color: var(--Light-Cyan);
    }
    
    .container #dice-btn {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5em;
        border-radius: 50%;
        background-color: var(--Neon-Green);
    }
    
    .container #dice-btn img{
        display: block;
    }
    
    .attribution {
        font-size: 0.9em;
        text-align: center;
        color: var(--Light-Cyan);
        margin-top: 5em;
    }
}




