@import "variable.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid black;
    font-family: "Inter", sans-serif;
}

.light-theme {
    --colorBG: hsl(0, 0%, 100%);
    --colorTopBGPattern: hsl(225, 100%, 98%);
    --colorCardBG: hsl(227, 47%, 96%);
    --colorText1: hsl(230, 17%, 14%);
    --colorText2: hsl(228, 12%, 44%);
}
  
.dark-theme {
    --colorBG: hsl(230, 17%, 14%);
    --colorTopBGPattern: hsl(232, 19%, 15%);
    --colorCardBG: hsl(228, 28%, 20%);
    --colorText1: hsl(0, 0%, 100%);
    --colorText2: hsl(228, 25%, 66%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBG), ;
    color: var(--colorText1);
    transition: all 1s, color 1s;

    .container {
        height: 90vh;
        width: 85%;
        position: relative;
        display: flex;
        flex-direction: column;

        & > span {
            color: var(--colorText2);
            font-weight: 700;
        }

        .dark-mode-field {
            position: absolute;
            top: 0;
            right: 0;
        }
        

        .social-media-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1.5em;
            margin: 2.5em 0;
            
            .social-media-wrapper {
                height: max-content;
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                
                padding: 1.5em;
                background-color: var(--colorCardBG);
                border-radius: 7px;
                overflow: hidden;

                
                .social-media-id {
                    display: flex;
                    align-items: center;
                    gap: 0.4em;
                    font-size: 0.9em;
                    font-weight: 700;
                    color: var(--colorText2);
                }

                .social-media-followers {
                    margin-top: 20px;
                    font-size: 3.5em;
                    font-weight: 700;
                }

                .social-media-followers-text {
                    font-size: 0.9em;
                    color: var(--colorText2);
                    text-transform: uppercase;
                    letter-spacing: 0.45em;
                }

                .social-media-stats-today {
                    margin-top: 20px;
                    position: relative;
                    color: $colorPositive;
                    font-size: 0.9em;
                    font-weight: 700;

                    &::before {
                        content: url(images/icon-up.svg);
                        display: block;
                        width: 32px;
                        position: absolute;
                        bottom: 22%;
                        left: -14px;
                    }
                }

            }

            #facebook-wrapper {
                border-top: 6px solid $colorFacebook;
            }
            #twitter-wrapper {
                border-top: 6px solid $colorTwitter;
            }
            #instagram-wrapper {
                border-top: 6px solid $colorInstagram;
                
            }
            #youtube-wrapper {
                border-top: 6px solid $colorYoutube;
            }
        }

        .overview-container {
            margin-top: 1.5em;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1.5em;
            flex-wrap: wrap;
            

            .overview-stats-wrapper {
                height: 140px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                align-items: center;
                justify-items: end;
                padding: 0.5em 2em;
                background-color: var(--colorCardBG);


                &:nth-child(-n+2)::before {
                    content: url(images/icon-facebook.svg);
                }
                &:nth-child(n+3):nth-child(-n+4)::before {
                    content: url(images/icon-instagram.svg);
                }
                &:nth-child(n+5):nth-child(-n+6)::before {
                    content: url(images/icon-twitter.svg);
                }
                &:nth-child(n+7):nth-child(-n+8)::before {
                    content: url(images/icon-youtube.svg);
                }

                .stats-type-text {
                    order: -1;
                    justify-self: start;
                    font-weight: 700;
                    color: var(--colorText2);
                }
                .stats-number {
                    justify-self: start;
                    font-size: 2em;
                    font-weight: 700;
                }
                .stats-percentage {
                    position: relative;
                    color: $colorPositive;
                    font-size: 0.9em;
                    font-weight: 700;

                    &::before {
                        content: url(images/icon-up.svg);
                        display: block;
                        width: 32px;
                        position: absolute;
                        bottom: 22%;
                        left: -14px;
                    }
                }
            }
        }
    }
}
