* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: lightgrey;
}
body .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1em;
}
body .container .settings-container {
  height: 100px;
  width: 90%;
}
body .container .settings-container nav {
  display: flex;
}
body .container .settings-container nav ul {
  display: flex;
}
body .container .simulator-container {
  position: relative;
  height: auto;
  width: 90%;
  display: grid;
  grid-template-areas: "ram pc mar cir" "ram mdr mdr decode" "ram ula ula decode" "ram acc acc decode";
  align-items: center;
  justify-items: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
  padding: 2em;
}
body .container .simulator-container .ram-container {
  grid-area: ram;
  height: 575px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
}
body .container .simulator-container .ram-container h2 {
  font-size: 1.6em;
}
body .container .simulator-container .ram-container table {
  border-collapse: collapse;
}
body .container .simulator-container .ram-container table th {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 0.3em;
  text-align: start;
}
body .container .simulator-container .ram-container table td {
  font-size: 1.2em;
  padding: 0.3em;
}
body .container .simulator-container .decode-container {
  grid-area: decode;
  bottom: 2em;
  right: 2em;
  height: -moz-max-content;
  height: max-content;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
}
body .container .simulator-container .decode-container h2 {
  font-size: 1.6em;
}
body .container .simulator-container .decode-container table {
  border-collapse: collapse;
}
body .container .simulator-container .decode-container table th {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 0.3em;
  text-align: start;
}
body .container .simulator-container .decode-container table td {
  font-size: 1.2em;
  padding: 0.3em;
}
body .container .simulator-container .registers {
  overflow: hidden;
}
body .container .simulator-container .registers .register-name {
  width: 100%;
  padding: 0.5em;
  text-align: center;
}
body .container .simulator-container .registers .register-value {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .simulator-container .pc-box {
  grid-area: pc;
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 2em;
  left: 21em;
}
body .container .simulator-container .mar-box {
  grid-area: mar;
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 2em;
  left: 36em;
}
body .container .simulator-container .mdr-box {
  grid-area: mdr;
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 12em;
  left: 28.5em;
}
body .container .simulator-container .cir-box {
  grid-area: cir;
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 2em;
  right: 7em;
}
body .container .simulator-container .acc-box {
  grid-area: acc;
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 31em;
  left: 28.5em;
}
body .container .simulator-container .alu-box {
  grid-area: ula;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20em;
  left: 30em;
}
body .container .debbuging-container {
  position: fixed;
  top: 2em;
  left: 2em;
  display: flex;
  gap: 1em;
  padding: 1em;
  border-radius: 10px;
}
body .container .debbuging-container span {
  padding: 0.5em 1em;
}/*# sourceMappingURL=style.css.map */